extends ../layout/main

block variables
    - var title = "Index page"

block content
    p 123
    +icon('rain')
    +icon('mortar')
    +icon('storm')
    +icon('box')
    +icon('box')
    +icon('box')
    +icon('box')