@mixin box($width,$height: $width) {
  width: $width;
  height: $height;
}

@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}